.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     position: relative;
     width: 100%;
     padding: 2rem;
     z-index: 1000;
    height: 50vh;
    color: #FFFFFF;
    background-color: #ffffff23;
    margin: 2rem auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

.MainContainer h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3rem;
  }