.MainContainer {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
     position: relative;
     width: 100%;
     padding: 2rem;
     z-index: 1000;
    height: auto;
    color: #FFFFFF;
    background-color: #ffffff23;
}